@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-05-21 11:40:05
 * @version 1.0
 */

html, body {
  height: 100%;
  min-height: 100%;
}

main {
  max-height: 100%;
  height: 100%;
  color: #ffffff;
  position: relative;
}

.login-screen {
  padding: 0;
  padding-top: 150px;
  padding-left: 350px;
  padding-right: 350px;
}
.post-screen {
  background-color: #e74c3c;
  padding: 0;
  padding-top: 150px;
  padding-left: 350px;
  padding-right: 350px;
}
.login-icon {
  position: relative;
  left: auto;
  top: auto;
  margin: 0 auto;
  width: 120px;
}
.login-form {
  margin-top: 25px;
}
.login-form:before {
  border-width: 0 12px 12px;
  border-color: transparent transparent #edeff1 transparent;
  left: 50%;
  top: -12px;
  margin-left: -12px;
}
.post-screen .login-form .login-field:focus {
  border-color: #e74c3c;
}
.post-screen .login-form .login-field:focus + .login-field-icon {
  color: #e74c3c;
}